<div class="jumbotron">
	<div class="container">
		<h1> Howdy Oenophile!</h1>
		<p> This flash card app will get you learning wine in no time, 
			Sign Up or Sign In to get started!
		</p>
		<p><%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %></p>
	</div>
</div>